@white: #fff;
@black: #000;

@red: #ee0000;
@maroon: #be0000;

@primary-red: @red;
@secondary-red: @maroon;

@lightest-blue: #ECF6F9;
@light-blue: #CEE2EB;
@blue: #AAD3DE
@green-blue: #1385AD;
@light-green: #D2E7C3;

@continent: @light-green;
@ocean: @lightest-blue;