* { 
	box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
	margin: 0;
	padding: 0;

	.hide {
		display: none !important;
	}
}

@transition: all 240ms ease-in-out 10ms;