header {
  background-color: @white;
  padding: 10px 20px;
  a {
  	color: @primary-red;
  }
}

.header-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.logo-container {
	height: 40px;
}

.logo {
  display: inline-block;
}

.logo svg {
  max-width: 100px;
}

.language {
	display: inline-block;
	p {
		font-size: .825em;
		margin: 0;
	}
}