#map {
	background-color: @ocean;
	position: relative;
	height: calc(100vh - 60px);
	// ^ 60px is the height of header

	.next-btn-container {
		bottom: 50px;
		left: 50%;
		margin-left: -140px;
		position: absolute;
	}

	object {
		height: calc(100vh - 320px);
	}
	.map-container {
		text-align: center;
	}	
}