body {
  font-family: 'Open Sans', sans-serif;
}
.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.h1 {
  font-size: 3em;
  line-height: 1.2;
}
.h2 {
  font-size: 1.75em;
}
.h3 {
  font-size: 1.25em;
}
.h4 {
  font-size: 1em;
}

.title-container {
	margin: 0 auto;
	max-width: 775px;
	padding-top: 30px;
	text-align: center;
}

.text-red {
	color: @primary-red;
}
